# OS X
.DS_Store

# Emacs backup/temporary files
*.~*~
\#*\#
.*.~*~
.\#*

# Unity3D
Library/
Build/
Temp
*.csproj
*.sln
__MACOSX

# Monodevelop
Assembly-CSharp.pidb
*.userprefs

# Visual Studio
*.suo
*.user
*.pidb
obj/
